# Node modules
node_modules/

# Temporary files
temp/

# Configuration files that may contain sensitive information
config.json
db_test.json

# Logs (if you decide to create any)
*.log

# Environment variable files (if you use dotenv)
.env

# Optional: Backup files or old versions
app_test.js
